body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:  #e3f2fd;
}

h4{
  font-family: 'Lobster Two', cursive;
}

.btn-logoff {
  position: fixed;
  right: 10px;
  top: 10px;
}

.btn-refresh{
  position: fixed;
  left: 10px;
  top: 10px;
}

.feed {
  overflow-x: scroll;
  overflow-y: hidden;
}
